body {
    background-color: white;
    /* background-color: #c5d5cb; */
}



#Player1 {
    width: 30em;
    height: 12em;
    background-color: #e0e3cf;
    border-radius: 10px;
}

h3 {
    margin-top: .6em;
    margin-bottom: .6em;
    margin-left: .8em;
}

#total {
    width: 8em;
    margin-left: 1em;
    margin-right: .6em;
}

.resize {
    width: 2em;
    height: 2em;
}

#score {
    font-size: 43px;
}

#content {
    display: flex;
    flex-direction: row;
}

#stats {
    width: 300px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

#stats div {
    margin: 5px;
}

.vp {
    width: 100px;

}

.vp span {
    margin-left: .2em;
    margin-right: .2em;
    font-size: 30px;

}

.vp p {
    margin: 0;
    font-size: 20px;
}

.vp button {
    color: black;
    background-color: #e0e3cf;
    border: none;
}

.vp .minus{
    font-size: 40px;
}

.vp .plus {
    font-size: 35px;
    font-weight: bold;
} 


/* display: inline-block;
    border-radius: 5px;
    width: 25px;
    padding-left: 12.5px;
    background-color: white;
    color: #e0e3cf;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    font-weight: bold; */